######################
# Project Specific
######################
/target/**

######################
# Node
######################
/node_modules/**

######################
# Bower
######################
/webapp/bower_components/**
/*.iml
package-lock.json
