# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\d2hub\sourceCode\app-ican-admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
